<div class="uk-margin-medium uk-margin-remove-bottom">
  <%= form_with(model: feeling, local: true) do |form| %>
  <% if feeling.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(feeling.errors.count, "error") %> prohibited this feeling from being saved:</h2>

    <ul>
      <% feeling.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label "タイトル" %>
    <%= form.text_field :subject, class: "uk-input", placeholder: "title" %>
  </div>

  <div class="field">
    <%= form.label "伝えたい相手" %>
    <%= form.text_field :organization, class: "uk-input", placeholder: "organization or name" %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.rich_text_area :detail, class: "uk-textarea", placeholder: "detail" %>
  </div>

  <div class="field">
    <%= form.label :tags_as_string %>
    <%= form.text_field :tags_as_string, class: "uk-textarea", value: feeling.tags_as_string %>
  </div>

  <div class="field">
    <%= form.label :response %>
    <%= form.text_area :response, class: "uk-textarea", size: "10x5", placeholder: "相手からの返信" %>
  </div>

  <div class="actions">
    <%= form.submit "送信する", class: "uk-button uk-button-default" %>
  </div>
  <% end %>
</div>