<%= render "header" %>
<div class="uk-container uk-container-center uk-width-xxlarge uk-margin-top uk-margin-medium-bottom">
  <%# できればアイキャッチを導入したい
  <% if @exist %>
  <%#= image_tag @image %>
  <%# end %>
  <article class="uk-article uk-margin-medium-top">

    <h1 class="uk-article-title"><a class="uk-link-reset" href=""><%= @feeling.subject %></a></h1>

    <p class="uk-article-meta uk-margin-medium-bottom"><%= @feeling.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>

    <% if @feeling.organization.present? %>
    <p class="uk-text-lead">To <%= @feeling.organization %></p>
    <% end %>

    <div class="feeling-detail uk-margin-bottom"><%= @feeling.detail %></div>
  </article>
  <%= link_to 'Edit', edit_feeling_path(@feeling) %> |
  <%= link_to 'Back', feelings_path %>
  <% if @feeling.user_id == current_user.id %>
  | <%= link_to 'Delete', feeling_path(@feeling), method: :delete %>
  <% end %>
  <div class="uk-grid-small uk-child-width-auto uk-margin-top" uk-grid>
    <div>
      <a class="uk-button uk-button-text" href="#">5 Comments</a>
    </div>
  </div>
</div>